{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cervezas.css' %}">
<meta charset="utf-8">

<section id = 'cervezas'>
	<div class = 'center'>
		<div class = 'contenedor'>
			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Golden Ale</h1>
					<p>Cerveza ligera, de carácter maltoso dulce, con poca presencia del lúpulo en el que tendrá básicamente caracteres frutales. (4%-5% alcohol)</p>
					<p> $150 <p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/goldenale_boiwko.jpg' %}">
				</div>
			</div>

			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Pale Ale</h1>
					<p>De color más intenso, la IPA es más potente por razones históricas de conservación: se añadía malta (alcohol) y lúpulo (amargor) para resistir el largo viaje hasta India en el siglo XVIII (5%-7% alcohol).</p>
					<p> $187 </p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/alepale_boiwko.jpg' %}">
				</div>
			</div>

			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Scotch Ale</h1>
					<p>Especialidad belga de abadía, ámbar y limpia, que sorprende por su ligereza 
					cuando la carga alcohólica es alta y evidente en boca. Gusto afrutado (más de 7% alcohol).</p>
					<p> $160 </p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/scotchale_boiwko.jpg' %}">
				</div>
			</div>

			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Porter</h1>
					<p>Con más cuerpo, potencia alcohólica y amargor que una Guinness, es menos opaca y 
					su sabor desprende apuntes a caramelo, tofe y chocolate (5%-7% alcohol).</p>
					<p> $200 <p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/porter_boiwko.jpg' %}">
				</div>
			</div>

			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Stout</h1>
					<p>La negra más famosa. Espuma gruesa y cremosa, gusto a 
					café y tenue amargor final. Una stout atípica: ligera al beber y poco alcohólica (3%-4% alcohol).</p>
					<p> $200 <p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/stout_boiwko.jpg' %}">
				</div>
			</div>

			<div class = 'card'>
				<div class = 'contenido'>
					<h1>Imperial</h1>
					<p>Elaborada para su envío a la corte rusa en el XVIII, la generosidad 
					en malta tostada (aromas a café y cacao) dispara también su potencia y amargor (más de 7% alcohol).</p>
					<p> $200 <p>
				</div>
				<div class = 'media'>
					<img src="{% static 'img/imperial_boiwko.jpg' %}"> 
				</div>
			</div>	
		</div>
	</div>
</section>