{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/contenido_ppal.css' %}">
<meta charset="utf-8">

<section id = 'home'>
	<div class = 'center'>
        <div class = 'contenedor'>
    		<div class="video">
            	<iframe width="560" height="315" src="https://www.youtube.com/embed/P4mTtHuufrU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        	</div>
        	<img class = 'ppal_mobile' src="{% static 'img/cerveza_ppal.jpg' %}">
            <div class = 'contenido'>
            	<div class = 'content_h1'>
            		<h1> Boiwko's Beers</h1>
            	</div>
            	<div class = 'content_p'>
            		<p>"CREEMOS EN LA CERVEZA Hace más de 13 años que empezamos a andar por este camino. Siguiendo los que nos decía nuestra pasión y nuestro corazón, yendo en contra de lo que se suponía que teníamos que hacer. Creímos que lo que estábamos haciendo valía la pena, nos convencimos. Nos caímos, nos levantamos, nos caímos de nuevo. Crecimos, innovamos, y cambiamos pero siempre creyendo en el valor de lo que más nos gusta hacer, cerveza artesanal. CREEMOS EN EL CONOCIMIENTO Solamente es posible llegar a la máxima calidad entendiendo y siendo paciente en cada proceso y en cada momento. Por eso hace más de siete años que damos cursos de Elaboración de Cerveza Artesanal para principiantes. Contactános si te interesa participar en la próxima edición." Davok Cervecería</p>
            	</div>
            	 <div class = 'content_h12'>
            		<h1> Salud!</h1>
            	</div>
            </div>
        </div>
	</div>
</section>
