{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/correo_enviado.css' %}">

<section id = 'x1'>
	<div class = 'center'>
		<div class='content'>
			<p>Correo enviado con exito. A la brevedad nos comunicaremos contigo.</p>
			<p>Puedes volver a nuestra sección principal haciendo click <a href="/">aquí</a>
			<p>También ir a nuestra seccion de <a href="/productos">productos</a></p>
			<p>Si eres un usuario registrado, puedes <a href="/ingresar">inciar sesión</a></p>
			<p>O si lo prefieres, optar por <a href="/registro">registrarte</a></p>
		</div>
	</div>
</section>
