{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/no_logeo.css' %}">

<section id = "no_log">
	<div class = "center">
		<div class = "cont">
			<p>
				En este momento te encuentras fuera del sitio.
				Si tienes un usuario, y deseas ingresar click <a href="/ingresar">aquí.</a>
			</p>
			<p>
				Si no tienes usuario, puedes <a href="/registro"> registrarte aquí.</a>
			</p>
		</div>
	</div>
</section>