{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/center.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/registro_usuarios.css' %}">

<section id = "user_correcto">
	<div class= "center">
		<div class = "cont">
			<p>Bienvenido a nuestro sitio.</p>
			<p>Esperamos disfrutes de nuestra gran variedad de cervezas.</p>
			<p>Sigue navegando por nuestro sitio, puedes ir a <a href="/">inicio</a></p>
			<p>o de lo contrario, optar por explorar nuestra seccion de <a href="/productos">cervezas.</a></p>
		</div>
	</div>
</section>